* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  height: 100%;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 35%;
  height: 70;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  height: 39%;
}

.result span {
  margin-right: 60px;
  font-size: 210px;
  justify-self: flex-end;
}

.buttons {
  width: 100%;
  height: 60%;
  background-color: #212121;
  display: grid;
  gap: 15px;
  grid-template-columns: 25% 25% 25% 25%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  padding: 10px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.persent {
  background-color: #a5a5a5;
  border: none;
  color: black;
}

.item1 {
  background-color: #a5a5a5;
  border: none;
}

.item3 {
  background-color: #ff9f0a;
  border: none;
}

.numbers,
.coma {
  background-color: #a5a5a5;
  border: none;
}

.negative,
.clear {
  color: black;
}

.itemZero {
  background-color: #a5a5a5;
  width: 330px;
  height: 150px;
  border-radius: 135px;
  grid-column: span 2;
  border: none;
}

.selectedSign {
  background-color: white;
  color: #ff9f0a;
}

.changedStyle {
  font-size: 10px;
}

/* Media Query for all sizes */
@media screen and (max-width: 768px) {
  .main-container {
    padding: 20px;
  }

  .container {
    width: 70%;
  }

  /* Add more specific styling for smaller screens as needed */
}
